$error-color: #ff5252;
$desc-color: #5c6469;

body {
    height: 100vh;
    width: 100vw;
}

.lp-main-layout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.lp-top{
    display: flex;
    width: 100vw;
    height: 95vh;
}

.lp-top-left{
    width: 50vw;
    height: inherit;
}

.lp-top-left-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30vw;
    height: inherit;
    margin: auto;
}

.lp-bg-element{
    width: 28%;
    height: auto;
    margin-bottom: 20px;
    margin-left: -48px;
}

.lp-logo{
    width: 50%;
    height: auto;
}

.lp-line-break{
    width: 100%;
}

.lp-desc{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.29px;
    color: $desc-color;
    margin-bottom: 30px;
}

.lp-error-message{
    display: block;
    color: $error-color;
    font-size: 13px;
    margin-top: 10px;
}

.lp-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: inherit;

    > img{
        width: 500px;
        height: auto;
    }
}

.lp-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    gap: 4px;

    > img{
        width: 37px;
    }

    > p{
        font-size: 11px;
    }
}

 